 .u-section-1 {
  background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.15), rgba(0, 0, 0, 0.15)), url('images/BachgroundImage.jpg');
  background-position: 50% 64.77%;
}

.u-section-1 .u-sheet-1 {
  min-height: 696px;
}

.u-section-1 .u-image-1 {
  width: 136px;
  height: 109px;
  margin: 13px auto 0 315px;
}

.u-section-1 .u-text-1 {
  font-family: "Aguafina Script";
  font-size: 2.75rem;
  margin: 13px 550px 60px 159px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 574px;
  }

  .u-section-1 .u-image-1 {
    margin-top: -4px;
  }

  .u-section-1 .u-text-1 {
    margin-top: 18px;
    margin-right: 450px;
    margin-left: 59px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 440px;
  }

  .u-section-1 .u-image-1 {
    margin-top: 0;
    margin-left: 163px;
  }

  .u-section-1 .u-text-1 {
    width: auto;
    margin: 271px 324px 11px -35px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 330px;
  }

  .u-section-1 .u-image-1 {
    margin-top: -17px;
  }

  .u-section-1 .u-text-1 {
    margin-top: 31px;
    margin-right: 144px;
    font-size: 2.25rem;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 208px;
  }

  .u-section-1 .u-image-1 {
    width: 84px;
    height: 67px;
    margin-top: 0;
    margin-left: 86px;
  }

  .u-section-1 .u-text-1 {
    font-size: 1.25rem;
    margin: 106px 74px 13px -33px;
  }
}.backimg {
opacity:1;
}